<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        ICT Academy Bukhara - @ViewData["Page"]?.ToString()
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link id="pagestyle" href="~/Admin/material-dashboard.min.css?v=3.0.0" asp-append-version="true" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-200">
    <aside style="background-color: #2D2550 !important; color: #2D2550 !important;"
           class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3"
           id="sidenav-main">
        <div style="background-color: #2D2550;" class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
               aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="/admin"
               target="_blank">
                <svg width="75" height="35" viewBox="0 0 130 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M73.6938 1.824V7.584H66.8778V1.824H73.6938ZM73.6938 11.232V36H66.8778V11.232H73.6938ZM102.677 26.448C102.261 29.648 100.997 32.144 98.8848 33.936C96.8048 35.728 94.1168 36.624 90.8208 36.624C87.0128 36.624 83.9568 35.456 81.6528 33.12C79.3488 30.784 78.1968 27.68 78.1968 23.808C78.1968 19.808 79.3488 16.592 81.6528 14.16C83.9888 11.728 87.0768 10.512 90.9168 10.512C94.2128 10.512 96.9008 11.36 98.9808 13.056C101.061 14.72 102.245 16.992 102.533 19.872H95.8608C95.3488 17.024 93.7168 15.6 90.9648 15.6C89.1088 15.6 87.6528 16.32 86.5968 17.76C85.5728 19.168 85.0608 21.136 85.0608 23.664C85.0608 26.128 85.5568 28.048 86.5488 29.424C87.5728 30.768 88.9968 31.44 90.8208 31.44C93.7968 31.44 95.5568 29.776 96.1008 26.448H102.677ZM120.255 11.232V15.84H115.215V27.504C115.215 28.24 115.231 28.784 115.263 29.136C115.295 29.456 115.407 29.792 115.599 30.144C115.791 30.496 116.079 30.736 116.463 30.864C116.879 30.96 117.455 31.008 118.191 31.008C119.023 31.008 119.711 30.976 120.255 30.912V36.096C118.591 36.224 117.215 36.288 116.127 36.288C113.151 36.288 111.119 35.776 110.031 34.752C108.975 33.696 108.447 31.68 108.447 28.704V15.84H104.319V11.232H108.447V3.744H115.215V11.232H120.255Z" fill="#FAF9FE" />
                    <path d="M72.586 53.912V54.968C72.3087 55.0747 71.9993 55.128 71.658 55.128C70.8793 55.128 70.4793 54.7227 70.458 53.912C69.6793 54.7867 68.682 55.224 67.466 55.224C66.6553 55.224 66.01 55.016 65.53 54.6C65.0607 54.184 64.826 53.6133 64.826 52.888C64.826 51.416 65.802 50.5573 67.754 50.312C67.882 50.2907 68.0687 50.2693 68.314 50.248C69.242 50.1413 69.8127 50.0187 70.026 49.88C70.2713 49.7093 70.394 49.416 70.394 49C70.394 48.0933 69.77 47.64 68.522 47.64C67.882 47.64 67.3967 47.7733 67.066 48.04C66.7353 48.296 66.538 48.7227 66.474 49.32H65.146C65.1673 48.4347 65.482 47.7467 66.09 47.256C66.698 46.7653 67.5353 46.52 68.602 46.52C69.7647 46.52 70.6287 46.7867 71.194 47.32C71.3753 47.4907 71.5087 47.7147 71.594 47.992C71.6793 48.2693 71.7273 48.4987 71.738 48.68C71.7487 48.8507 71.754 49.112 71.754 49.464C71.754 49.8693 71.7433 50.4827 71.722 51.304C71.7007 52.1253 71.69 52.7387 71.69 53.144C71.69 53.4427 71.7273 53.656 71.802 53.784C71.8873 53.9013 72.0367 53.96 72.25 53.96C72.3353 53.96 72.4473 53.944 72.586 53.912ZM70.394 50.712C70.298 50.7867 70.1967 50.8507 70.09 50.904C69.9833 50.9573 69.8447 51 69.674 51.032C69.514 51.064 69.402 51.0907 69.338 51.112C69.2847 51.1227 69.146 51.144 68.922 51.176C68.698 51.1973 68.5807 51.208 68.57 51.208C68.2393 51.2507 68.0207 51.2827 67.914 51.304C67.818 51.3147 67.626 51.3573 67.338 51.432C67.0607 51.5067 66.8633 51.592 66.746 51.688C66.6287 51.784 66.5113 51.928 66.394 52.12C66.2873 52.3013 66.234 52.52 66.234 52.776C66.234 53.2027 66.378 53.5387 66.666 53.784C66.9647 54.0293 67.37 54.152 67.882 54.152C68.5327 54.152 69.114 53.96 69.626 53.576C70.138 53.192 70.394 52.7387 70.394 52.216V50.712ZM80.9718 51.992C80.8544 52.984 80.4758 53.7733 79.8358 54.36C79.2064 54.9467 78.3851 55.24 77.3718 55.24C76.1238 55.24 75.1584 54.856 74.4758 54.088C73.7931 53.3093 73.4518 52.2747 73.4518 50.984C73.4518 49.608 73.8091 48.52 74.5238 47.72C75.2384 46.9093 76.2038 46.504 77.4198 46.504C78.4331 46.504 79.2438 46.76 79.8518 47.272C80.4598 47.7733 80.8171 48.4933 80.9237 49.432H79.5158C79.2704 48.2373 78.5771 47.64 77.4358 47.64C76.6464 47.64 76.0224 47.9333 75.5638 48.52C75.1051 49.096 74.8758 49.88 74.8758 50.872C74.8758 51.8747 75.0944 52.664 75.5318 53.24C75.9691 53.816 76.5718 54.104 77.3398 54.104C77.9584 54.104 78.4598 53.9227 78.8438 53.56C79.2384 53.1973 79.4891 52.6747 79.5958 51.992H80.9718ZM89.7735 53.912V54.968C89.4962 55.0747 89.1868 55.128 88.8455 55.128C88.0668 55.128 87.6668 54.7227 87.6455 53.912C86.8668 54.7867 85.8695 55.224 84.6535 55.224C83.8428 55.224 83.1975 55.016 82.7175 54.6C82.2482 54.184 82.0135 53.6133 82.0135 52.888C82.0135 51.416 82.9895 50.5573 84.9415 50.312C85.0695 50.2907 85.2562 50.2693 85.5015 50.248C86.4295 50.1413 87.0002 50.0187 87.2135 49.88C87.4588 49.7093 87.5815 49.416 87.5815 49C87.5815 48.0933 86.9575 47.64 85.7095 47.64C85.0695 47.64 84.5842 47.7733 84.2535 48.04C83.9228 48.296 83.7255 48.7227 83.6615 49.32H82.3335C82.3548 48.4347 82.6695 47.7467 83.2775 47.256C83.8855 46.7653 84.7228 46.52 85.7895 46.52C86.9522 46.52 87.8162 46.7867 88.3815 47.32C88.5628 47.4907 88.6962 47.7147 88.7815 47.992C88.8668 48.2693 88.9148 48.4987 88.9255 48.68C88.9362 48.8507 88.9415 49.112 88.9415 49.464C88.9415 49.8693 88.9308 50.4827 88.9095 51.304C88.8882 52.1253 88.8775 52.7387 88.8775 53.144C88.8775 53.4427 88.9148 53.656 88.9895 53.784C89.0748 53.9013 89.2242 53.96 89.4375 53.96C89.5228 53.96 89.6348 53.944 89.7735 53.912ZM87.5815 50.712C87.4855 50.7867 87.3842 50.8507 87.2775 50.904C87.1708 50.9573 87.0322 51 86.8615 51.032C86.7015 51.064 86.5895 51.0907 86.5255 51.112C86.4722 51.1227 86.3335 51.144 86.1095 51.176C85.8855 51.1973 85.7682 51.208 85.7575 51.208C85.4268 51.2507 85.2082 51.2827 85.1015 51.304C85.0055 51.3147 84.8135 51.3573 84.5255 51.432C84.2482 51.5067 84.0508 51.592 83.9335 51.688C83.8162 51.784 83.6988 51.928 83.5815 52.12C83.4748 52.3013 83.4215 52.52 83.4215 52.776C83.4215 53.2027 83.5655 53.5387 83.8535 53.784C84.1522 54.0293 84.5575 54.152 85.0695 54.152C85.7202 54.152 86.3015 53.96 86.8135 53.576C87.3255 53.192 87.5815 52.7387 87.5815 52.216V50.712ZM98.4953 43.608V55H97.2153V53.784C96.6926 54.744 95.7859 55.224 94.4953 55.224C93.3219 55.224 92.3886 54.8347 91.6953 54.056C91.0126 53.2667 90.6713 52.2 90.6713 50.856C90.6713 49.608 90.9913 48.5733 91.6313 47.752C92.2819 46.92 93.2153 46.504 94.4313 46.504C95.6153 46.504 96.5166 46.952 97.1353 47.848V43.608H98.4953ZM94.6073 47.672C93.8286 47.672 93.2099 47.9547 92.7513 48.52C92.3033 49.0853 92.0793 49.8533 92.0793 50.824C92.0793 51.8267 92.3086 52.6267 92.7673 53.224C93.2366 53.8107 93.8606 54.104 94.6393 54.104C95.4286 54.104 96.0473 53.8213 96.4953 53.256C96.9433 52.68 97.1673 51.8853 97.1673 50.872C97.1673 49.9653 96.9539 49.208 96.5273 48.6C96.1113 47.9813 95.4713 47.672 94.6073 47.672ZM107.596 52.392C107.18 54.312 105.98 55.272 103.996 55.272C102.78 55.272 101.825 54.8933 101.132 54.136C100.449 53.3787 100.108 52.328 100.108 50.984C100.108 49.6507 100.46 48.5733 101.164 47.752C101.878 46.92 102.806 46.504 103.948 46.504C105.217 46.504 106.156 46.936 106.764 47.8C107.382 48.6533 107.692 49.736 107.692 51.048V51.24H101.484L101.468 51.336C101.468 52.2107 101.697 52.8987 102.156 53.4C102.614 53.9013 103.244 54.152 104.044 54.152C104.641 54.152 105.11 54.0133 105.452 53.736C105.804 53.4587 106.076 53.0107 106.268 52.392H107.596ZM106.284 50.136C106.22 49.3467 105.98 48.7333 105.564 48.296C105.148 47.848 104.598 47.624 103.916 47.624C103.254 47.624 102.705 47.848 102.268 48.296C101.83 48.744 101.569 49.3573 101.484 50.136H106.284ZM110.413 46.744V47.944C110.776 47.4533 111.165 47.096 111.581 46.872C111.997 46.648 112.504 46.536 113.101 46.536C114.232 46.536 114.995 47.0107 115.389 47.96C116.104 47 117.016 46.52 118.125 46.52C118.979 46.52 119.624 46.76 120.061 47.24C120.509 47.7093 120.733 48.3707 120.733 49.224V55H119.373V49.8C119.373 49.1173 119.267 48.6053 119.053 48.264C118.84 47.912 118.397 47.736 117.725 47.736C116.317 47.736 115.613 48.5947 115.613 50.312V55H114.253V49.704C114.253 49.0747 114.147 48.5947 113.933 48.264C113.731 47.9227 113.331 47.752 112.733 47.752C111.891 47.752 111.304 48.0133 110.973 48.536C110.653 49.048 110.493 49.7467 110.493 50.632V55H109.133V46.744H110.413ZM129.606 46.744L126.07 56.056C125.931 56.4293 125.809 56.7173 125.702 56.92C125.606 57.1333 125.462 57.3627 125.27 57.608C125.089 57.864 124.865 58.0453 124.598 58.152C124.342 58.2693 124.038 58.328 123.686 58.328C123.419 58.328 123.083 58.28 122.678 58.184V56.968C123.073 57.0853 123.366 57.144 123.558 57.144C124.006 57.144 124.326 56.9147 124.518 56.456L125.158 54.952L121.878 46.744H123.414L125.862 53.32L128.182 46.744H129.606Z" fill="#F1F2FB" />
                    <path d="M72.586 53.912V54.968C72.3087 55.0747 71.9993 55.128 71.658 55.128C70.8793 55.128 70.4793 54.7227 70.458 53.912C69.6793 54.7867 68.682 55.224 67.466 55.224C66.6553 55.224 66.01 55.016 65.53 54.6C65.0607 54.184 64.826 53.6133 64.826 52.888C64.826 51.416 65.802 50.5573 67.754 50.312C67.882 50.2907 68.0687 50.2693 68.314 50.248C69.242 50.1413 69.8127 50.0187 70.026 49.88C70.2713 49.7093 70.394 49.416 70.394 49C70.394 48.0933 69.77 47.64 68.522 47.64C67.882 47.64 67.3967 47.7733 67.066 48.04C66.7353 48.296 66.538 48.7227 66.474 49.32H65.146C65.1673 48.4347 65.482 47.7467 66.09 47.256C66.698 46.7653 67.5353 46.52 68.602 46.52C69.7647 46.52 70.6287 46.7867 71.194 47.32C71.3753 47.4907 71.5087 47.7147 71.594 47.992C71.6793 48.2693 71.7273 48.4987 71.738 48.68C71.7487 48.8507 71.754 49.112 71.754 49.464C71.754 49.8693 71.7433 50.4827 71.722 51.304C71.7007 52.1253 71.69 52.7387 71.69 53.144C71.69 53.4427 71.7273 53.656 71.802 53.784C71.8873 53.9013 72.0367 53.96 72.25 53.96C72.3353 53.96 72.4473 53.944 72.586 53.912ZM70.394 50.712C70.298 50.7867 70.1967 50.8507 70.09 50.904C69.9833 50.9573 69.8447 51 69.674 51.032C69.514 51.064 69.402 51.0907 69.338 51.112C69.2847 51.1227 69.146 51.144 68.922 51.176C68.698 51.1973 68.5807 51.208 68.57 51.208C68.2393 51.2507 68.0207 51.2827 67.914 51.304C67.818 51.3147 67.626 51.3573 67.338 51.432C67.0607 51.5067 66.8633 51.592 66.746 51.688C66.6287 51.784 66.5113 51.928 66.394 52.12C66.2873 52.3013 66.234 52.52 66.234 52.776C66.234 53.2027 66.378 53.5387 66.666 53.784C66.9647 54.0293 67.37 54.152 67.882 54.152C68.5327 54.152 69.114 53.96 69.626 53.576C70.138 53.192 70.394 52.7387 70.394 52.216V50.712ZM80.9718 51.992C80.8544 52.984 80.4758 53.7733 79.8358 54.36C79.2064 54.9467 78.3851 55.24 77.3718 55.24C76.1238 55.24 75.1584 54.856 74.4758 54.088C73.7931 53.3093 73.4518 52.2747 73.4518 50.984C73.4518 49.608 73.8091 48.52 74.5238 47.72C75.2384 46.9093 76.2038 46.504 77.4198 46.504C78.4331 46.504 79.2438 46.76 79.8518 47.272C80.4598 47.7733 80.8171 48.4933 80.9237 49.432H79.5158C79.2704 48.2373 78.5771 47.64 77.4358 47.64C76.6464 47.64 76.0224 47.9333 75.5638 48.52C75.1051 49.096 74.8758 49.88 74.8758 50.872C74.8758 51.8747 75.0944 52.664 75.5318 53.24C75.9691 53.816 76.5718 54.104 77.3398 54.104C77.9584 54.104 78.4598 53.9227 78.8438 53.56C79.2384 53.1973 79.4891 52.6747 79.5958 51.992H80.9718ZM89.7735 53.912V54.968C89.4962 55.0747 89.1868 55.128 88.8455 55.128C88.0668 55.128 87.6668 54.7227 87.6455 53.912C86.8668 54.7867 85.8695 55.224 84.6535 55.224C83.8428 55.224 83.1975 55.016 82.7175 54.6C82.2482 54.184 82.0135 53.6133 82.0135 52.888C82.0135 51.416 82.9895 50.5573 84.9415 50.312C85.0695 50.2907 85.2562 50.2693 85.5015 50.248C86.4295 50.1413 87.0002 50.0187 87.2135 49.88C87.4588 49.7093 87.5815 49.416 87.5815 49C87.5815 48.0933 86.9575 47.64 85.7095 47.64C85.0695 47.64 84.5842 47.7733 84.2535 48.04C83.9228 48.296 83.7255 48.7227 83.6615 49.32H82.3335C82.3548 48.4347 82.6695 47.7467 83.2775 47.256C83.8855 46.7653 84.7228 46.52 85.7895 46.52C86.9522 46.52 87.8162 46.7867 88.3815 47.32C88.5628 47.4907 88.6962 47.7147 88.7815 47.992C88.8668 48.2693 88.9148 48.4987 88.9255 48.68C88.9362 48.8507 88.9415 49.112 88.9415 49.464C88.9415 49.8693 88.9308 50.4827 88.9095 51.304C88.8882 52.1253 88.8775 52.7387 88.8775 53.144C88.8775 53.4427 88.9148 53.656 88.9895 53.784C89.0748 53.9013 89.2242 53.96 89.4375 53.96C89.5228 53.96 89.6348 53.944 89.7735 53.912ZM87.5815 50.712C87.4855 50.7867 87.3842 50.8507 87.2775 50.904C87.1708 50.9573 87.0322 51 86.8615 51.032C86.7015 51.064 86.5895 51.0907 86.5255 51.112C86.4722 51.1227 86.3335 51.144 86.1095 51.176C85.8855 51.1973 85.7682 51.208 85.7575 51.208C85.4268 51.2507 85.2082 51.2827 85.1015 51.304C85.0055 51.3147 84.8135 51.3573 84.5255 51.432C84.2482 51.5067 84.0508 51.592 83.9335 51.688C83.8162 51.784 83.6988 51.928 83.5815 52.12C83.4748 52.3013 83.4215 52.52 83.4215 52.776C83.4215 53.2027 83.5655 53.5387 83.8535 53.784C84.1522 54.0293 84.5575 54.152 85.0695 54.152C85.7202 54.152 86.3015 53.96 86.8135 53.576C87.3255 53.192 87.5815 52.7387 87.5815 52.216V50.712ZM98.4953 43.608V55H97.2153V53.784C96.6926 54.744 95.7859 55.224 94.4953 55.224C93.3219 55.224 92.3886 54.8347 91.6953 54.056C91.0126 53.2667 90.6713 52.2 90.6713 50.856C90.6713 49.608 90.9913 48.5733 91.6313 47.752C92.2819 46.92 93.2153 46.504 94.4313 46.504C95.6153 46.504 96.5166 46.952 97.1353 47.848V43.608H98.4953ZM94.6073 47.672C93.8286 47.672 93.2099 47.9547 92.7513 48.52C92.3033 49.0853 92.0793 49.8533 92.0793 50.824C92.0793 51.8267 92.3086 52.6267 92.7673 53.224C93.2366 53.8107 93.8606 54.104 94.6393 54.104C95.4286 54.104 96.0473 53.8213 96.4953 53.256C96.9433 52.68 97.1673 51.8853 97.1673 50.872C97.1673 49.9653 96.9539 49.208 96.5273 48.6C96.1113 47.9813 95.4713 47.672 94.6073 47.672ZM107.596 52.392C107.18 54.312 105.98 55.272 103.996 55.272C102.78 55.272 101.825 54.8933 101.132 54.136C100.449 53.3787 100.108 52.328 100.108 50.984C100.108 49.6507 100.46 48.5733 101.164 47.752C101.878 46.92 102.806 46.504 103.948 46.504C105.217 46.504 106.156 46.936 106.764 47.8C107.382 48.6533 107.692 49.736 107.692 51.048V51.24H101.484L101.468 51.336C101.468 52.2107 101.697 52.8987 102.156 53.4C102.614 53.9013 103.244 54.152 104.044 54.152C104.641 54.152 105.11 54.0133 105.452 53.736C105.804 53.4587 106.076 53.0107 106.268 52.392H107.596ZM106.284 50.136C106.22 49.3467 105.98 48.7333 105.564 48.296C105.148 47.848 104.598 47.624 103.916 47.624C103.254 47.624 102.705 47.848 102.268 48.296C101.83 48.744 101.569 49.3573 101.484 50.136H106.284ZM110.413 46.744V47.944C110.776 47.4533 111.165 47.096 111.581 46.872C111.997 46.648 112.504 46.536 113.101 46.536C114.232 46.536 114.995 47.0107 115.389 47.96C116.104 47 117.016 46.52 118.125 46.52C118.979 46.52 119.624 46.76 120.061 47.24C120.509 47.7093 120.733 48.3707 120.733 49.224V55H119.373V49.8C119.373 49.1173 119.267 48.6053 119.053 48.264C118.84 47.912 118.397 47.736 117.725 47.736C116.317 47.736 115.613 48.5947 115.613 50.312V55H114.253V49.704C114.253 49.0747 114.147 48.5947 113.933 48.264C113.731 47.9227 113.331 47.752 112.733 47.752C111.891 47.752 111.304 48.0133 110.973 48.536C110.653 49.048 110.493 49.7467 110.493 50.632V55H109.133V46.744H110.413ZM129.606 46.744L126.07 56.056C125.931 56.4293 125.809 56.7173 125.702 56.92C125.606 57.1333 125.462 57.3627 125.27 57.608C125.089 57.864 124.865 58.0453 124.598 58.152C124.342 58.2693 124.038 58.328 123.686 58.328C123.419 58.328 123.083 58.28 122.678 58.184V56.968C123.073 57.0853 123.366 57.144 123.558 57.144C124.006 57.144 124.326 56.9147 124.518 56.456L125.158 54.952L121.878 46.744H123.414L125.862 53.32L128.182 46.744H129.606Z" fill="#F3F5F8" />
                    <path d="M27.8738 27.7057C28.0329 28.2733 28.5267 28.5722 28.9081 28.9506C37.2341 37.2864 45.5684 45.6167 53.9137 53.9333C54.295 54.3118 54.819 54.5476 55.2689 54.8574C54.6406 55.5621 54.2045 55.3784 53.8314 55.3784C45.3818 55.3921 36.9296 55.3839 28.4801 55.3976C27.7613 55.3976 27.2099 55.2632 26.6613 54.7094C17.9978 45.9348 9.32055 37.174 0.604936 28.4515C-0.207095 27.6399 -0.201609 27.2423 0.621395 26.4526C4.99978 22.2545 9.31506 17.9879 13.6523 13.7432C18.1541 18.273 22.656 22.8029 27.1688 27.3245C27.3498 27.5082 27.6351 27.5823 27.8738 27.7057Z" fill="#2DDC90" />
                    <path d="M27.8739 27.7057C27.6352 27.5823 27.3499 27.5082 27.1688 27.3273C22.656 22.8084 18.1569 18.2757 13.6523 13.7459C17.9594 9.33941 22.2692 4.93294 26.568 0.518243C26.9082 0.167261 27.2648 0 27.7641 0C36.8528 0.0164523 45.9388 0.019196 55.0275 0.0274222C55.0961 0.0274222 55.1619 0.109682 55.2964 0.197428C46.15 9.37781 37.0119 18.5417 27.8739 27.7057Z" fill="#1FFDA7" />
                </svg>
                <span class="ms-1 font-weight text-white">Bukhara</span>
            </a>
        </div>
        <hr style="margin: 0; color: white;" />
        <div style="background-color: #2D2550; padding-top: 20px; height: calc(80vh);" class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-action="Mentorlar">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Mentorlar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-action="Kurslar">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                        </div>
                        <span class="nav-link-text ms-1">Kurslar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-action="KursgaYozilganlar">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">supervisor_account</i>
                        </div>
                        <span class="nav-link-text ms-1">Kursga yozilganlar</span>
                    </a>
                </li>
            </ul>
        </div>
        <div style="background-color: #2D2550;" class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
                <form asp-action="Logout" asp-controller="Other" asp-route-id="@ViewContext.HttpContext.Session?.GetInt32("id")" method="post">
                    <input class="btn bg-gradient-success mt-4 w-100" value="Chiqish"
                           type="submit" />
                </form>
            </div>
        </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
             navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">@ViewContext.RouteData.Values["Controller"].ToString()</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">@ViewContext.RouteData.Values["action"].ToString()</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">@ViewData["Page"]?.ToString()</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                        <li class="nav-item d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                                <span class="d-sm-inline d-none">@ViewContext.HttpContext.Session?.GetString("name")</span>
                            </a>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>

                    </div>

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!--Render Body-->
        @RenderBody()
        <!--End Render Bodey-->
    </main>

    <script src="~/Admin/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script src="~/Admin/material-dashboard.min.js?v=3.0.0" asp-append-version="true"></script>
</body>

</html>